.pnf-wrap {
    background-color: black;
    color: white;
}

.cancel-btnn {
    border: 1px solid white;
    transition:
        background-color 0.5s ease,
        color 0.5s ease;
}

.cancel-btnn:hover {
    color: black;
    background-color: white;
}
